<div class="dialog-profil-container" [@animationstate]="animationstate">
  <div class="dialog-profil-container-header">
    <h2>Profil</h2>
    <span class="material-symbols-outlined close-btn" (click)="closeDialog()"> close </span>
  </div>

  <div class="dialog-profil-container-avatar">
    <img src="./assets/img/character/3.png" alt="avatar" />
  </div>

  <div class="dialog-profil-container-content">
    <div class="dialog-profil-container-content-name">
      <h2>Frederik Beck</h2>
      <a>Bearbeiten</a>
    </div>
    <div class="user-online-status">
      <div class="user-online-status-icon"></div>
      <p>Aktive</p>
    </div>
  </div>

  <div class="dialog-profil-container-content-description">

    <div class="profil-mail">
      <span class="material-symbols-outlined"> mail </span>
    </div>

    <div class="profil-mail-content">
      <h3>E-Mail-Adresse</h3>
      <p>frederik.beckgmail.com</p>
    </div>

  </div>
</div>
