<div
  class="wholeComponent"
  [@channelCreateOverlayAnimation]="channelCreateOverlayAnimation"
>
  <div class="add-channel-formular">
    <div class="add-channel-headline">
      <span>Channel erstellen</span>

      <span class="material-symbols-outlined close-btn" (click)="closeDialog()">
        close
      </span>
    </div>
    <div class="add-channel-subheadline">
      <span>
        Channels dienen deinem Team zur Kommuniaktion. Am besten sollten sie
        themenbezogen sein #marketing zum Beispiel.</span
      >
    </div>

    <div class="add-channel-name">
      <span>Channel-Name</span>
      <input
        [(ngModel)]="channelName"
        type="text"
        placeholder="# z.B. Kooperationsprojekte"
        (ngModelChange)="checkFormInvalid()"
      />
      <p [ngClass]="{ 'error-txt': channelNameExists }">
        {{
          channelNameExists
            ? "Es existiert bereits ein Channel mit diesem Namen!"
            : "Gib einen Channel-Name ein!"
        }}
      </p>
    </div>

    <div class="add-channel-description">
      <span
        >Beschreibung
        <p class="optional-txt">(optional)</p></span
      >
      <textarea
        [(ngModel)]="description"
        [ngStyle]="{ resize: 'none' }"
        placeholder="Beschreibung hinzufügen..."
      ></textarea>
    </div>

    <button
      (click)="createChannel()"
      class="add-channel-button"
      [disabled]="!formInvalid"
    >
      Erstellen
    </button>
  </div>
</div>
