<div class="channel-chat-container">
  <div class="channel-chat-header">
    <div class="channel-chat-header-left" (click)="openEditChannelDialog()">
      <span class="material-icons"> tag </span>
      <h3>{{ channel.channelName }}</h3>
      <span class="material-symbols-outlined arrow_drop_down">
        keyboard_arrow_down
      </span>
    </div>

    <div class="channel-chat-header-right">
      <div
        class="channel-chat-header-right-user-container"
        (click)="openChannelMembersDialog()"
      >
        <div class="profile-images-container">
          <img src="./assets/img/character/3.png" alt="user" />
          <img src="./assets/img/character/5.png" alt="user" />
          <img src="./assets/img/character/6.png" alt="user" />
        </div>
        <p>3</p>
      </div>
      <div (click)="openAddUserToChannelDialog()" class="add_btn_user">
        <span class="material-symbols-outlined"> person_add </span>
      </div>

      <!-- <app-add-user-to-channel-overlay
        class="addUserToChannelOverlay"
        *ngIf="addUserToChannelOverlayIsVisible"
      ></app-add-user-to-channel-overlay> -->
    </div>
  </div>

  <div class="channel-chat-body">
    <div class="date-divider">
      <div class="divider-line"></div>
      <span class="date-text">DATUM</span>
      <div class="divider-line"></div>
    </div>

    <div class="channel-chat-message-container">
      <div class="channel-chat-message-container-left othersMessage">
        <div class="channel-chat-message-container-left-user-container">
          <img src="./assets/img/character/6.png" alt="user" />
        </div>
        <div class="channel-chat-message-container-left-message-container">
          <div
            class="channel-chat-message-container-left-message-container-header"
          >
            <h3 class="msg-user-name">Noah Braun</h3>
            <p class="msg-time">14:25</p>
          </div>
          <div class="msg-left">
            <p>Welche Version ist aktuell von Angular?</p>
          </div>
          <div
            class="channel-chat-message-container-left-message-container-time"
          >
            <a (click)="toggleThread()" class="msg-count">2 Antworten</a>
            <p class="last-msg-time">Letzte Antwort 14:56</p>
          </div>
        </div>
        <div class="reactionMenu">
          <button class="reactionMenuBtn check"></button>
          <button class="reactionMenuBtn thumb"></button>
          <button class="reactionMenuBtn reactionSmile"></button>
          <button class="reactionMenuBtn commentReact"></button>
          <button class="reactionMenuBtn editMsg"></button>
        </div>
      </div>
    </div>

    <div class="date-divider">
      <div class="divider-line"></div>
      <span class="date-text">Dienstag, 14 Januar</span>
      <div class="divider-line"></div>
    </div>

    <div class="channel-chat-message-container">
      <div class="channel-chat-message-container-right ownMessage">
        <div class="channel-chat-message-container-left-user-container">
          <img src="./assets/img/character/3.png" alt="user" />
        </div>
        <div class="channel-chat-message-container-right-message-container">
          <div
            class="channel-chat-message-container-right-message-container-header"
          >
            <h3 class="msg-user-name">Frederik Beck</h3>
            <p class="msg-time">15:06 Uhr</p>
          </div>
          <div class="msg-right">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque blandit odio efficitur lectus vestibulum, quis
              accumsan ante vulputate. Quisque tristique iaculis erat, eu
              faucibus lacus iaculis ac.
            </p>
          </div>
          <div class="msg-reaction-container">
            <div class="reaction">
              <div class="reaction-information-overlay">
                <div class="reaction-overlay-item">
                  <img src="./assets/img/icons/rocket.png" alt="check" />
                  <h3>Du</h3>
                  <p>Hast reagiert</p>
                </div>
              </div>

              <img src="./assets/img/icons/rocket.png" alt="rocket" />
              <p>1</p>
            </div>

            <div class="reaction">
              <div class="reaction-information-overlay">
                <div class="reaction-overlay-item">
                  <img src="./assets/img/icons/check.png" alt="check" />
                  <h3>Noah Braun</h3>
                  <p>Hat reagiert</p>
                </div>
              </div>

              <img src="./assets/img/icons/check.png" alt="check" />
              <p>1</p>
            </div>
            <span class="material-symbols-outlined add_reaction_btn">
              add_reaction
            </span>
          </div>
        </div>
        <div class="reactionMenu">
          <button class="reactionMenuBtn check"></button>
          <button class="reactionMenuBtn thumb"></button>
          <button class="reactionMenuBtn reactionSmile"></button>
          <button class="reactionMenuBtn commentReact"></button>
          <button class="reactionMenuBtn editMsg"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="input-container">
    <div class="input-container-wrapper">
      <input type="text" placeholder="Nachricht an #Entwicklerteam" />
      <div class="icons">
        <div>
          <span
            (click)="openTagPeopleDialog()"
            class="material-symbols-outlined"
          >
            alternate_email
          </span>
          <span class="material-symbols-outlined"> sentiment_satisfied </span>
        </div>
        <img src="./assets/img/icons/send.png" class="send-btn" alt="send" />
      </div>
    </div>
  </div>
</div>
