<div class="channel-chat-container">
  <div class="channel-chat-header">
    <div class="channel-chat-header-left" (click)="openEditChannelDialog()">
      <span class="material-icons"> tag </span>
      <h3>{{ channel.channelName }}</h3>
      <span class="material-symbols-outlined arrow_drop_down">
        keyboard_arrow_down
      </span>
    </div>
    <div class="channel-chat-header-right">
      <div
        class="channel-chat-header-right-user-container"
        (click)="openChannelMembersDialog()"
      >
        <div class="profile-images-container">
          <img src="./assets/img/character/3.png" alt="user" />
          <img src="./assets/img/character/5.png" alt="user" />
          <img src="./assets/img/character/6.png" alt="user" />
        </div>
        <p>{{ channel.members.length || 0 }}</p>
      </div>
      <div (click)="openAddUserToChannelDialog()" class="add_btn_user">
        <span class="material-symbols-outlined"> person_add </span>
      </div>
    </div>
  </div>

  <div class="channel-chat-body">
    <ng-container
      *ngFor="
        let message of messages$ | async;
        let i = index;
        let isFirst = first
      "
    >
      <div class="date-divider" *ngIf="isFirst">
        <div class="divider-line"></div>
        <span class="date-text">{{
          message.time | date : "EEEE, d. MMMM"
        }}</span>
        <div class="divider-line"></div>
      </div>

      <div
        class="channel-chat-message-container"
        [ngClass]="{ 'own-message-container': isOwnMessage(message) }"
      >
        <div
          class="message-layout other-message"
          *ngIf="!isOwnMessage(message)"
        >
          <div class="message-avatar">
            <img
              [src]="
                message.senderAvatar ||
                './assets/img/character/avatar_default.png'
              "
              [alt]="message.senderDisplayName"
            />
          </div>
          <div class="message-content-wrapper">
            <div class="message-header">
              <h3 class="msg-user-name">{{ message.senderDisplayName }}</h3>
              <p class="msg-time">{{ message.time | date : "HH:mm" }} Uhr</p>
            </div>
            <div class="msg-bubble msg-left">
              <p>{{ message.message }}</p>
            </div>
            <div class="message-footer other-footer">
              <a (click)="toggleThread()" class="msg-count">2 Antworten</a>
              <p class="last-msg-time">Letzte Antwort 14:56</p>
            </div>
          </div>
          <div class="reactionMenu">
            <button class="reactionMenuBtn reactionSmile"></button>
            <button class="reactionMenuBtn commentReact"></button>
          </div>
        </div>

        <div class="message-layout own-message" *ngIf="isOwnMessage(message)">
          <div class="reactionMenu">
            <button class="reactionMenuBtn reactionSmile"></button>
            <button class="reactionMenuBtn commentReact"></button>
            <button class="reactionMenuBtn editMsg"></button>
          </div>
          <div class="message-content-wrapper">
            <div class="message-header own-header">
              <h3 class="msg-user-name">Du</h3>
              <p class="msg-time">{{ message.time | date : "HH:mm" }} Uhr</p>
            </div>
            <div class="msg-bubble msg-right">
              <p>{{ message.message }}</p>
            </div>
            <div
              class="message-footer own-footer msg-reaction-container"
              *ngIf="message.reactions && message.reactions.length > 0"
            >
              <div class="reaction">
                <img src="./assets/img/icons/check.png" alt="check" />
                <p>1</p>
              </div>
              <span class="material-symbols-outlined add_reaction_btn">
                add_reaction
              </span>
            </div>
          </div>
          <div class="message-avatar">
            <img
              [src]="
                currentUser?.avatar ||
                './assets/img/character/avatar_default.png'
              "
              [alt]="currentUser?.displayName || 'Du'"
            />
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="(messages$ | async)?.length === 0" class="no-messages">
      <p>
        Noch keine Nachrichten in #{{ channel.channelName }}. Sei der Erste!
      </p>
    </div>
  </div>
  <div class="input-container" *ngIf="channel">
    <div class="input-container-wrapper">
      <div
        #messageInput
        class="textForMessageInput"
        type="text"
        [attr.placeholder]="'Nachricht an #' + (channel.channelName || '')"
        (input)="checkForMention($event)"
        (keydown)="handleKeydown($event)"
        contenteditable="true"
      >
        <div class="taggedPersonsDiv">
          <div
            aria-readonly="true"
            class="taggedPerson"
            (mousedown)="preventEdit($event)"
            *ngFor="let person of taggedPersonsInChat"
          >
            <img class="taggedImage" [src]="person.img" />
            <span> {{ person.name }}</span>
            <span
              (click)="removePersonFromTagged()"
              class="closeTaggedPerson"
            ></span>
          </div>
        </div>
      </div>
      <div class="icons">
        <div>
          <span
            (click)="openTaggingPerClick($event)"
            class="material-symbols-outlined"
            matTooltip="Person markieren"
          >
            alternate_email
          </span>
          <span class="material-symbols-outlined" matTooltip="Emoji hinzufügen">
            sentiment_satisfied
          </span>
        </div>
        <img
          src="./assets/img/icons/send.png"
          class="send-btn"
          alt="send"
          (click)="sendMessage()"
          matTooltip="Senden (Enter)"
        />
      </div>
    </div>
  </div>
</div>
