<div class="channel-chat-container">
  <div class="channel-chat-header">
    <div class="channel-chat-header-left" (click)="openEditChannelDialog()">
      <span class="material-icons"> tag </span>
      <h3>{{ channel.channelName }}</h3>
      <span class="material-symbols-outlined arrow_drop_down">
        keyboard_arrow_down
      </span>
    </div>
    <div class="channel-chat-header-right">
      <div
        class="channel-chat-header-right-user-container"
        (click)="openChannelMembersDialog()"
      >
        <div
          class="profile-images-container"
          *ngFor="let avatar of memberAvatars; let i = index"
        >
          <img [src]="avatar" alt="user" />
        </div>
        <p>{{ channel.members.length || 0 }}</p>
      </div>
      <div (click)="openAddUserToChannelDialog()" class="add_btn_user">
        <span class="material-symbols-outlined"> person_add </span>
      </div>
    </div>
  </div>

  <div class="channel-chat-body" #channelChatBody>
    <ng-container
      *ngFor="
        let message of messages$ | async;
        let i = index;
        let isFirst = first;
        trackBy: trackByMessageKey
      "
    >
      <div
        class="date-divider"
        *ngIf="shouldShowDateDivider(message, (messages$ | async)?.[i - 1])"
      >
        <div class="divider-line"></div>
        <span class="date-text">{{
          message.time | date : "EEEE, d. MMMM"
        }}</span>
        <div class="divider-line"></div>
      </div>

      <div
        class="channel-chat-message-container"
        [attr.data-message-key]="message.key"
        [ngClass]="{
          ownMessage: isOwnMessage(message),
          editing: editingMessageKey === message.key
        }"
      >
        <div
          class="message-layout othersMessage"
          *ngIf="!isOwnMessage(message)"
        >
          <div class="message-avatar">
            <img
              [src]="
                message.senderAvatar || '/assets/img/character/bsp-avatar.png'
              "
              [alt]="message.senderDisplayName"
            />
          </div>
          <div class="message-content-wrapper">
            <div class="message-header">
              <h3 class="msg-user-name">{{ message.senderDisplayName }}</h3>
              <p class="msg-time">{{ message.time | date : "HH:mm" }} Uhr</p>
            </div>
            <div class="msg-bubble msg-left">
              <p>{{ message.message }}</p>
              <span class="edited-indicator" *ngIf="message.editedAt"
                >(bearbeitet)</span
              >
            </div>

            <div
              class="message-footer other-footer msg-reaction-container"
              *ngIf="message.reactions && message.reactions.length > 0"
            >
              <div
                class="reaction"
                *ngFor="let reaction of getDisplayedReactions(message)"
                (click)="toggleReaction(message, reaction.emoji)"
                [class.reacted-by-user]="reaction.reactedByUser"
                matTooltip="{{ reaction.userNames.join(',\\n') }}"
                matTooltipPosition="above"
              >
                <span>{{ reaction.emoji }}</span>
                <p>{{ reaction.count }}</p>
              </div>

              <button
                class="reaction-overflow-btn"
                *ngIf="
                  !isShowingAll(message) &&
                  getTotalGroupedReactionsCount(message) > getReactionLimit()
                "
                (click)="toggleShowAllReactions(message)"
              >
                +{{
                  getTotalGroupedReactionsCount(message) - getReactionLimit()
                }}
                weitere
              </button>

              <button
                class="reaction-show-less-btn"
                *ngIf="
                  isShowingAll(message) &&
                  getTotalGroupedReactionsCount(message) > getReactionLimit()
                "
                (click)="toggleShowAllReactions(message)"
              >
                Weniger anzeigen
              </button>

              <span
                class="material-symbols-outlined add_reaction_btn"
                (click)="openEmojiPickerForReaction(message)"
                matTooltip="Reaktion hinzufügen"
                matTooltipPosition="above"
              >
                add_reaction
              </span>
            </div>
            <div
              class="message-footer other-footer"
              *ngIf="message.senderUid !== 'DABubble'"
            >
              <a (click)="startOrOpenThread(message)" class="msg-count">
                <span>
                  {{
                    message.threadKey
                      ? (message?.threadReplyCount ?? 0) > 0
                        ? message.threadReplyCount + " Antworten"
                        : "Thread starten"
                      : "Thread starten"
                  }}
                </span>
              </a>
              <p
                class="last-msg-time"
                *ngIf="message.threadKey && message.threadLastReplyAt"
              >
                Letzte Antwort
                {{ message.threadLastReplyAt | date : "HH:mm" }}
              </p>
            </div>
            <!-- <div
              class="message-footer other-footer"
              *ngIf="message.senderUid !== 'DABubble' && !message.threadKey"
            >
              <a (click)="startOrOpenThread(message)" class="msg-count">
                <span>Antworten</span>
              </a>
            </div> -->
          </div>

          <div class="reactionMenu" *ngIf="message.senderUid !== 'DABubble'">
            <button
              (click)="toggleReaction(message, '✅')"
              class="reactionMenuBtn check"
            ></button>
            <button
              (click)="toggleReaction(message, '👍')"
              class="reactionMenuBtn thumb"
            ></button>
            <button
              (click)="openEmojiPickerForReaction(message)"
              class="reactionMenuBtn reactionSmile"
            ></button>
            <button
              class="reactionMenuBtn commentReact"
              (click)="startOrOpenThread(message)"
            ></button>
            <button class="reactionMenuBtn editMsg"></button>
          </div>
        </div>

        <div class="message-layout own-message" *ngIf="isOwnMessage(message)">
          <div class="reactionMenu">
            <button
              (click)="toggleReaction(message, '✅')"
              class="reactionMenuBtn check"
            ></button>
            <button
              (click)="toggleReaction(message, '👍')"
              class="reactionMenuBtn thumb"
            ></button>
            <button
              (click)="openEmojiPickerForReaction(message)"
              class="reactionMenuBtn reactionSmile"
            ></button>
            <button
              (click)="startOrOpenThread(message)"
              class="reactionMenuBtn commentReact"
            ></button>
            <button
              (click)="startEditing(message)"
              class="reactionMenuBtn editMsg"
            ></button>
          </div>

          <div class="message-content-wrapper">
            <div class="message-header own-header">
              <h3 class="msg-user-name">Du</h3>
              <p class="msg-time">{{ message.time | date : "HH:mm" }} Uhr</p>
            </div>

            <div
              class="msg-bubble msg-right"
              *ngIf="editingMessageKey !== message.key"
            >
              <p>{{ message.message }}</p>
              <span class="edited-indicator" *ngIf="message.editedAt"
                >(bearbeitet)</span
              >
            </div>
            <div
              class="edit-message-input-container"
              *ngIf="editingMessageKey === message.key"
            >
              <textarea
                class="edit-textbox"
                #editInput
                [(ngModel)]="editMessageText"
                (keydown.escape)="cancelEdit()"
                (keydown.enter)="handleEditEnter($event, message)"
                rows="3"
              ></textarea>
              <div class="edit-actions">
                <button (click)="cancelEdit()">Abbrechen</button>
                <button (click)="saveEdit(message)">Speichern</button>
              </div>
            </div>

            <div
              class="message-footer own-footer msg-reaction-container"
              *ngIf="message.reactions && message.reactions.length > 0"
            >
              <div
                class="reaction"
                *ngFor="let reaction of getDisplayedReactions(message)"
                (click)="toggleReaction(message, reaction.emoji)"
                [class.reacted-by-user]="reaction.reactedByUser"
                matTooltip="{{ reaction.userNames.join(',\\n') }}"
                matTooltipPosition="above"
              >
                <span>{{ reaction.emoji }}</span>
                <p>{{ reaction.count }}</p>
              </div>

              <button
                class="reaction-overflow-btn"
                *ngIf="
                  !isShowingAll(message) &&
                  getTotalGroupedReactionsCount(message) > getReactionLimit()
                "
                (click)="toggleShowAllReactions(message)"
              >
                +{{
                  getTotalGroupedReactionsCount(message) - getReactionLimit()
                }}
                weitere
              </button>

              <button
                class="reaction-show-less-btn"
                *ngIf="
                  isShowingAll(message) &&
                  getTotalGroupedReactionsCount(message) > getReactionLimit()
                "
                (click)="toggleShowAllReactions(message)"
              >
                Weniger anzeigen
              </button>

              <span
                class="material-symbols-outlined add_reaction_btn"
                (click)="openEmojiPickerForReaction(message)"
                matTooltip="Reaktion hinzufügen"
                matTooltipPosition="above"
                >add_reaction</span
              >
            </div>
            <div class="message-footer own-footer">
              <a (click)="startOrOpenThread(message)" class="msg-count">
                <span>
                  {{
                    message.threadKey
                      ? (message?.threadReplyCount ?? 0) > 0
                        ? message.threadReplyCount + " Antworten"
                        : "Thread starten"
                      : "Thread starten"
                  }}
                </span>
              </a>

              <p
                class="last-msg-time"
                *ngIf="message.threadKey && message.threadLastReplyAt"
              >
                Letzte Antwort
                {{ message.threadLastReplyAt | date : "HH:mm" }}
              </p>
            </div>
          </div>
          <div class="message-avatar">
            <img
              [src]="
                currentUser?.avatar || '/assets/img/character/bsp-avatar.png'
              "
              [alt]="currentUser?.displayName || 'Du'"
            />
          </div>
        </div>
      </div>
    </ng-container>
    <div
      *ngIf="(messages$ | async)?.length === 0 && channel"
      class="no-messages"
    >
      <div class="no-messages-header">
        <span class="material-symbols-outlined"> tag </span>
        <h3>{{ channel.channelName }}</h3>
      </div>
      <div class="no-messages-text">
        <p>
          Sei der Erste, der eine Nachricht in
          <i>#{{ channel.channelName }}</i> sendet!
        </p>
      </div>
    </div>
    <div
      *ngIf="(messages$ | async)?.length === 1 && channel && (messages$ | async)?.[0]?.senderUid === 'DABubble'"
      class="no-messages"
    >
      <div class="no-messages-header">
        <span class="material-symbols-outlined"> tag </span>
        <h3>{{ channel.channelName }}</h3>
      </div>
      <div class="no-messages-text">
        <p>
          Du hast diesen Channel erstellt. Das ist der Anfang des Channels
          <i># {{ channel.channelName }}</i
          >.
        </p>
      </div>
    </div>
  </div>
  <div class="input-container" *ngIf="channel">
    <div class="input-container-wrapper">
      <div
        #messageInput
        class="textForMessageInput"
        type="text"
        [attr.placeholder]="'Nachricht an #' + (channel.channelName || '')"
        (input)="checkForMention($event)"
        (keydown)="handleKeydown($event)"
        contenteditable="true"
      ></div>
      <div class="icons">
        <div>
          <span
            (click)="openTaggingPerClick($event)"
            class="material-symbols-outlined"
            matTooltip="Person markierren"
          >
            alternate_email
          </span>
          <span
            (click)="saveCursorPosition()"
            class="material-symbols-outlined add-smiley-button"
            add-smiley-button
            matTooltip="Emoji hinzufügen"
          >
            sentiment_satisfied
          </span>
        </div>

        <div class="taggedPersonsDiv">
          <div
            contenteditable="false"
            aria-readonly="true"
            class="taggedPerson"
            (mousedown)="preventEdit($event)"
            *ngFor="let person of taggedPersonsInChat"
          >
            <img class="taggedImage" [src]="person.img" />
            <span> {{ person.name }}</span>
            <span
              (click)="removePersonFromTagged(person.name)"
              class="closeTaggedPerson"
            ></span>
          </div>
        </div>

        <img
          src="./assets/img/icons/send.png"
          class="send-btn"
          alt="send"
          (click)="sendMessage()"
          matTooltip="Senden (Enter)"
        />
      </div>
    </div>
  </div>
</div>
