.channel-chat-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.channel-chat-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 25px 45px;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.channel-chat-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
  &:hover {
    background-color: #ECEEFE;
    color: #535af1;
  }
}

.arrow_drop_down {
  cursor: pointer;
  font-weight: 700;
}

.channel-chat-header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.channel-chat-header-right-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 10px;
  gap: 10px;
  cursor: pointer;
  border-radius: 30px;
  &:hover {
    background-color: #ECEEFE;
  }
  p {
    font-size: 20px;
    font-weight: 600;
  }
}

.channel-chat-header-right-user {
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.add_btn_user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  background-color: #ECEEFE;
  transition: all 0.1s ease-in-out;
  span {
    &:hover {
      transform: scale(1.05);
      color: #535af1;
    }
  }
}

.profile-images-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -15px;

    &:first-child {
      margin-left: 0;
      z-index: 3;
    }

    &:nth-child(2) {
      z-index: 2;
    }

    &:nth-child(3) {
      z-index: 1;
    }
  }
}

.date-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 45px;
  width: 100%;

  .divider-line {
    height: 1px;
    background-color: #adb0d9;
    flex-grow: 1;
    opacity: 0.3;
  }

  .date-text {
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #adb0d9;
    padding: 5px 15px;
    border-radius: 30px;
  }
}

.channel-chat-body {
  width: 100%;
  overflow-y: auto;
  margin: 8px 0;
}

.channel-chat-message-container-left-user-container {
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.channel-chat-message-container-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  padding: 10px 45px;
  cursor: pointer;
  &:hover {
    background-color: #797df32f;
    .msg-left{
      background-color: #ffffff;
    }
  }
}

.channel-chat-message-container-left-message-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.msg-time {
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.channel-chat-message-container-left-message-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.msg-user-name {
  font-size: 18px;
  font-weight: 700;
}

.msg-left {
  padding: 15px;
  border-radius: 0 30px 30px 30px;
  background-color: #eceefe;
  p {
    color: #000000;
    font-weight: 400;
    font-size: 18px;
  }
}

.channel-chat-message-container-left-message-container-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.msg-count {
  font-size: 18px;
  font-weight: 400;
  color: #535af1;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    font-weight: 700;
  }
}

.last-msg-time {
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.channel-chat-message-container-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 30px;
  padding: 10px 45px;
  justify-content: flex-start;
  cursor: pointer;
  &:hover {
    background-color: #797df32f;
  }
}

.channel-chat-message-container-right-message-container-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.channel-chat-message-container-right-user-container {
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.channel-chat-message-container-right-message-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.channel-chat-message-container-right-message-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.msg-right {
  padding: 15px;
  border-radius: 30px 0 30px 30px;
  background-color: #797ef3;
  p {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }
}

.msg-reaction-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
}

.reaction {
  max-height: 36px;
  background-color: #fff !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid #adb0d9;
  gap: 10px;
  position: relative;
  &:hover{
    .reaction-information-overlay{
      display: block;
    }
  }
}

.reaction-information-overlay {
  display: none;
  width: max-content;
  position: absolute;
  top: -102px;
  left: 33px;
  border-radius: 30px 30px 30px 0;
  background-color: #4913fb;
  padding: 10px 25px;
  z-index: 100;
}

.reaction-overlay-item{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  h3{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
  p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
}

.add_reaction_btn {
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  background-color: #fff;
  &:hover {
    color: #535af1;
  }
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 0 45px 25px 45px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 30px 30px;
  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;

    &::placeholder {
      color: #aaa;
    }
  }

  .icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      span {
        color: #686868;
        font-size: 24px;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover {
          color: #535af1;
          background-color: #ECEEFE;
        }
      }
    }
  }
  .send-btn {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
}

.input-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #adb0d9;
}
