<div class="dialog-edit-profil-container" *ngIf="user$ | async as user">
  <div class="dialog-edit-profil-container-header">
    <h2>Dein Profil bearbeiten</h2>
    <span class="material-symbols-outlined close-btn" (click)="closeDialog()">
      close
    </span>
  </div>

  <div class="dialog-edit-profil-container-avatar">
    <img src="{{ user.avatar }}" alt="avatar" />
  </div>

  <div class="dialog-edit-profil-container-content">
    <div class="dialog-edit-profil-container-content-name">
      <span class="material-symbols-outlined"> account_circle </span>
      <p>Vollständiger Name</p>
    </div>
    <div class="dialog-profil-container-content-input">
      <input
        type="text"
        class="edit-profil-input"
        placeholder="{{ user.displayName }}"
        [(ngModel)]="displayName"
        (ngModelChange)="checkFormInvalid()"
      />
      <div class="empty-emptyUserName" *ngIf="emptyUserName">
        <p>Name darf nicht leer sein!</p>
      </div>
    </div>
  </div>

  <div class="edit-profil-btn-container">
    <button class="cancel" (click)="closeDialog()">Abbrechen</button>
    <button class="safe" (click)="saveProfil()" [disabled]="!formInvalid">Speichern</button>
  </div>
</div>
