.side-nav-container {
  height: calc(100vh - 137px);
  background-color: #fff;
  border-radius: 30px;
  padding: 32px 30px;
  display: flex;
  gap: 25px;
  overflow-y: hidden;
  flex-direction: column;
  animation: slideIn 200ms ease-out-forwards;
}

.side-nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  mat-icon {
    cursor: pointer;
  }
}

.rotated {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}

.side-nav-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  img {
    width: 60px;
    height: 60px;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
}

.channel-list-container {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.edit_btn {
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: #eceefe;
    color: #535af1;
  }
}

.channel-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.channel-list-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transition: all 0.1s ease-in-out;

  cursor: pointer;
  &:hover {
    color: #535af1;
  }
}

.add_btn {
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: #eceefe;
    color: #535af1;
  }
}

.channel-list-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: inherit;
  overflow-y: scroll;
  opacity: 1;
  visibility: visible;

  transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out, visibility 0s;

  &.collapsed {
    height: 0;
    opacity: 0;
    padding: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out,
      visibility 0s 0.2s;
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    padding: 4px 0 4px 35px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: #eceefe;
      color: #535af1;
      font-weight: 600;
    }
  }
}

.msg-list-body {
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: auto;
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
  transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out, visibility 0s;

  &.collapsed {
    height: 0;
    opacity: 0;
    padding: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out,
      visibility 0s 0.2s;
  }
}

.msg-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
  padding: 4px 0 4px 25px;
  cursor: pointer;
  border-radius: 35px;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: #eceefe;
    p {
      color: #535af1;
    }
  }
  p {
    font-size: 18px;
    font-weight: 400;
  }
}

.msg-container-avatar {
  position: relative;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .msg-container-avatar-status {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #92c83e;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid #fff;
  }
}

.hide-side-nav-div {
  width: 55px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-sizing: border-box;
  padding: 23px 14px 23px 14px;
  gap: 10px;
  z-index: 2;
  box-shadow: 4px 4px 7px 0px #00000033;
  background: #ffffff;
  position: absolute;
  bottom: 175px;
  bottom: 25%;
  left: 0px;
  user-select: none;

  > div {
    display: flex;
    justify-content: center;
    transition: all 0.1s ease-in-out;

    > span {
      display: flex;
      writing-mode: sideways-lr;
      min-width: max-content;
      width: 32px;
      font-family: "Nunito";
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0%;

      @supports not (writing-mode: sideways-lr) {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.mat-mdc-dialog-container {
  max-width: unset !important;
  min-width: unset !important;
}
