<div class="side-nav-container">
  <div class="side-nav-header">
    <div class="side-nav-header-logo">
      <img src="./assets/img/devspace.png" alt="Devspace Logo" />
      <h3>Devspace</h3>
    </div>
    <span class="material-symbols-outlined edit_btn">edit_square</span>
  </div>
  
  <div class="channel-list-container">
    <div class="channel-list-header">
      <div class="channel-list-header-title">
        <span class="material-icons arrow_drop_down"> arrow_drop_down </span>
        <span class="material-icons workspaces_outline"> workspaces_outline </span>
        <h3>Channels</h3>
      </div>
      <span class="material-symbols-outlined add_btn">add</span>
    </div>

    <div class="channel-list-body">
      <a><span class="material-icons">
        tag
        </span> Entwicklerteam</a>
      <a><span class="material-icons">
        add_circle_outline
        </span>Channel hinzufügen</a>
    </div>
  </div>
</div>
