<div class="side-nav-container" *ngIf="sideNavIsVisible" [@slideInOut]>
  <div class="side-nav-header">
    <div class="side-nav-header-logo">
      <img src="./assets/img/devspace.png" alt="Devspace Logo" />
      <h3>Devspace</h3>
    </div>
    <span class="material-symbols-outlined edit_btn">edit_square</span>
  </div>

  <div class="channel-list-container">
    <div class="channel-list-header"></div>
    <div class="channel-list-body" [class.collapsed]="!isChannelListExpanded">
      <a
        *ngFor="let chan of userChannels"
        (click)="selectChannel(chan)"
        [class.selected]="variableService.getActiveChannel()?.key === chan.key"
      >
        <span class="material-icons"> tag </span> {{ chan.channelName }}
      </a>
      <a (click)="openDialog()">
        <span class="material-icons"> add_circle_outline </span>Channel
        hinzufügen
      </a>
    </div>
  </div>

  <div class="channel-list-container">
    <div class="channel-list-header">
      <div (click)="toggleMsgList()" class="channel-list-header-title">
        <span
          class="material-icons arrow_drop_down"
          [class.rotated]="!isMsgListExpanded"
          >arrow_drop_down</span
        >
        <span class="material-symbols-outlined"> account_circle </span>
        <h3>Direktnachrichten</h3>
      </div>
    </div>

    <div class="msg-list-body" [class.collapsed]="!isMsgListExpanded">
      <div
        class="msg-container self-chat-entry"
        *ngIf="currentUser"
        (click)="selectSelfChat()"
        [class.selected]="
          variableService.getActiveDmUser()?.uid === currentUser.uid
        "
      >
        <div class="msg-container-avatar">
          <img
            [src]="
              currentUser.avatar || './assets/img/character/bsp-avatar.png'
            "
            [alt]="currentUser.displayName"
          />
          <span class="online-status-indicator"></span>
        </div>
        <p>{{ currentUser.displayName }} <span>(Du)</span></p>
      </div>

      <div
        class="msg-container"
        *ngFor="let user of displayableUsers"
        (click)="selectUserForDm(user)"
        [class.selected]="variableService.getActiveDmUser()?.uid === user.uid"
      >
        <div class="msg-container-avatar">
          <img
            [src]="user.avatar || './assets/img/character/bsp-avatar.png'"
            [alt]="user.displayName"
          />
          <span class="online-status-indicator" *ngIf="user"></span>
        </div>
        <p>{{ user.displayName }}</p>
      </div>

      <div
        *ngIf="displayableUsers.length === 0 && currentUser"
        class="no-dms-message"
      >
        <p>Keine anderen Benutzer gefunden.</p>
      </div>
    </div>
  </div>
</div>

<div (click)="toggleChannelNav()" class="hide-side-nav-div">
  <img
    [src]="
      sideNavIsVisible
        ? '/assets/img/icons/hideMenu.png'
        : '/assets/img/icons/showMenu.png'
    "
  />
  <div>
    <span>{{
      sideNavIsVisible ? "Workspace-Menü schließen" : "Workspace-Menü öffnen"
    }}</span>
  </div>
</div>
