<div class="side-nav-container" *ngIf="sideNavIsVisible" [@slideInOut]>
  <div class="side-nav-header">
    <div class="side-nav-header-logo">
      <img src="./assets/img/devspace.png" alt="Devspace Logo" />
      <h3>Devspace</h3>
    </div>
    <span class="material-symbols-outlined edit_btn">edit_square</span>
  </div>

  <div class="channel-list-container">
    <div class="channel-list-header">
      <div (click)="toggleChannelList()" class="channel-list-header-title">
        <span
          class="material-icons arrow_drop_down"
          [class.rotated]="!isChannelListExpanded"
        >
          arrow_drop_down
        </span>
        <span class="material-icons workspaces_outline">
          workspaces_outline
        </span>
        <h3>Channels</h3>
      </div>
      <span (click)="openDialog()" class="material-symbols-outlined add_btn"
        >add</span
      >
    </div>

    <div class="channel-list-body" [class.collapsed]="!isChannelListExpanded">
      <a><span class="material-icons"> tag </span> Entwicklerteam</a>

      <a (click)="openDialog()"
        ><span class="material-icons"> add_circle_outline </span>Channel
        hinzufügen</a
      >
    </div>
  </div>

  <div class="channel-list-container">
    <div class="channel-list-header">
      <div (click)="toggleMsgList()" class="channel-list-header-title">
        <span
          class="material-icons arrow_drop_down"
          [class.rotated]="!isMsgListExpanded"
          >arrow_drop_down</span
        >
        <span class="material-symbols-outlined"> account_circle </span>
        <h3>Direktnachrichten</h3>
      </div>
    </div>

    <div class="msg-list-body" [class.collapsed]="!isMsgListExpanded">
      <div class="msg-container">
        <div class="msg-container-avatar">
          <img src="./assets/img/character/3.png" alt="Avatar" />
          <div class="msg-container-avatar-status"></div>
        </div>
        <p>Frederik Beck (Du)</p>
      </div>

      <div class="msg-container">
        <div class="msg-container-avatar">
          <img src="./assets/img/character/5.png" alt="Avatar" />
          <div class="msg-container-avatar-status"></div>
        </div>
        <p>Sofia Müller</p>
      </div>

      <div class="msg-container">
        <div class="msg-container-avatar">
          <img src="./assets/img/character/6.png" alt="Avatar" />
          <div class="msg-container-avatar-status"></div>
        </div>
        <p>Noah Braun</p>
      </div>
    </div>
  </div>
</div>

<div (click)="toggleChannelNav()" class="hide-side-nav-div">
  <img
    [src]="
      sideNavIsVisible
        ? '/assets/img/icons/hideMenu.png'
        : '/assets/img/icons/showMenu.png'
    "
  />
  <div>
    <span>{{
      sideNavIsVisible ? "Workspace-Menü schließen" : "Workspace-Menü öffnen"
    }}</span>
  </div>
</div>
