<div class="add-user-to-channel-overlay">
  <div class="card-title-div">
    <div class="title-div">
      <span>Leute hinzufügen</span>
      <button (click)="closeDialog()" class="hide-overlay-btn"></button>
    </div>
    <span *ngFor="let channel of channelData">{{ channel?.channelName }}</span>
  </div>

  <div class="user-name-input">
    <input
      #userInputRef
      type="text"
      placeholder="Name eingeben"
      [(ngModel)]="userInput"
      (ngModelChange)="searchForUser()"
      (focus)="searchForUser()"
    />
    <div class="result-user-list" *ngIf="searchingForUser && filteredUserData.length > 0" #userListContainer>
      <div>
        <div
          class="result-user"
          *ngFor="let user of filteredUserData"
          (click)="selectUser(user)"
        >
          <img [src]="user.avatar" alt="user-icon" />
          <p>{{ user.displayName }}</p>
        </div>
      </div>
    </div>

    <div class="selected-user" *ngIf="userSelected">
      <div
        class="result-user"
        [ngClass]="{ 'selected-user-item': userSelected }"
        *ngFor="let selectedUser of selectedUser"
      >
        <img [src]="selectedUser.avatar" alt="user-icon" />
        <p>{{ selectedUser.displayName }}</p>
        <span class="material-symbols-outlined" (click)="removeUser(selectedUser)">
          close
          </span>
      </div>
    </div>
  </div>
  <button class="add-user-button btn-active" (click)="addUsersToChannel()">Hinzufügen</button>
</div>
