<app-header></app-header>
<div class="main-container">
  <app-side-nav
    [ngClass]="{ 'side-nav-container': sideNavIsVisible }"
    [userChannels]="userChannels"
    (channelSelected)="onChannelSelected($event)"
  >
    ></app-side-nav
  >

  <app-channel-chat
    class="channel-chat-container"
    *ngIf="selectedChannel"
    [channel]="selectedChannel"
  >
    ></app-channel-chat
  >

  <app-thread
    *ngIf="threadIsVisible"
    class="thread-container"
    class="thread-container"
    [@slideInOut]
  ></app-thread>
</div>

<!--    
*ngFor="let channel of userChannels; trackBy: trackByChannelKey"
[channel]="channel"
 -->
