<app-header
  (channelSelected)="onChannelSelected($event)"
  (userSelected)="onUserSelected($event)"
></app-header>
<div class="main-container">
  <app-side-nav
    [ngClass]="{ 'side-nav-container': sideNavIsVisible }"
    [userChannels]="userChannels"
    (channelSelected)="onChannelSelected($event)"
    (userSelected)="onUserSelected($event)"
  >
    >
  </app-side-nav>
<div class="main-content">
  <app-channel-chat
    class="channel-chat-container"
    *ngIf="selectedChannel && !selectedOtherUser"
    [channel]="selectedChannel"
  >
  </app-channel-chat>

  <app-direct-message
    *ngIf="selectedOtherUser && !selectedChannel"
    [otherUser]="selectedOtherUser"
    class="direct-message-container"
  >
  </app-direct-message>

  <app-thread
    *ngIf="threadIsVisible"
    class="thread-container"
    class="thread-container"
    [@slideInOut]
  ></app-thread>
</div>
</div>
