.main-container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.side-nav-container {
  min-width: 306px;
  height: calc(100vh - 137px);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  animation: slideIn 200ms ease-out-forwards;
}

.channel-chat-container {
  width: 100%;
  height: calc(100vh - 137px);
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.direct-message-container {
  width: 100%;
  height: calc(100vh - 137px);
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: relative;

}

.thread-container {
  height: calc(100vh - 137px);
  background-color: #fff;
  border-radius: 30px;
  max-width: 32%;
  min-width: 328px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
