<div class="reset-pw-container">
    <div class="reset-pw-container-header">
      <div class="reset-pw-container-header-logo">
        <img src="./assets/img/logo.png" alt="logo" />
        <h1>DABubble</h1>
      </div>
    </div>
    <div class="reset-pw-box-container">
      <div class="reset-pw-box">
        <div class="reset-pw-box-header">
          <span
            class="material-symbols-outlined back-arrow-btn"
            [routerLink]="['/']"
          >
            arrow_back
          </span>
          <h2>Passwort zurücksetzen</h2>
        </div>
        <p class="reset-pw-hint">
            Bitte geben Sie Ihre E-Mail-Adresse ein.
        </p>
  
        <div class="input-group">
          <div class="email-input">
            <input type="email" placeholder="Beispielname@email.com" />
          </div>
        </div>
  
        <div class="reset-pw-hint">
          <p>Wir senden Ihnen eine E-Mail, über die 
            Sie Ihr Passwort ändern können.</p>
        </div>
  
        <div class="reset-pw-actions">
          <button class="reset-pw-btn">E-Mail senden</button>
        </div>
      </div>
  
      <div class="footer">
        <a [routerLink]="['/impressum']">Impressum</a>
        <a [routerLink]="['/datenschutz']">Datenschutz</a>
      </div>
    </div>
  </div>
  