<ng-container *ngIf="user$ | async as user; else loggedOutHeader">
  <div class="header-container">
    <div *ngIf="!(isMobile$ | async)" class="header-logo">
      <img src="./assets/img/logo.png" alt="logo" />
      <h2>DABubble</h2>
    </div>

    <div
      *ngIf="
        (isMobile$ | async) &&
        !variableService.channelChatView() &&
        !variableService.showDmChatView()
      "
      class="header-logo"
    >
      <img src="./assets/img/logo.png" alt="logo" />
      <h2>DABubble</h2>
    </div>
    <div
      *ngIf="
        (isMobile$ | async) &&
        (variableService.channelChatView() || variableService.showDmChatView())
      "
      class="header-logo"
      (click)="showSideNavMobile()"
    >
      <img
        class="arrow-left"
        src="./assets/img/icons/arrow-left.png"
        alt="Zurück"
      />
      <img src="./assets/img/devspace.png" alt="logo" />
      <h2>Devspace</h2>
    </div>
    <div
      *ngIf="
        !(isMobile$ | async) ||
        ((isMobile$ | async) &&
          !variableService.channelChatView() &&
          !variableService.showDmChatView())
      "
      class="header-search"
    >
      <input
        #searchInputRef
        type="text"
        placeholder="Devspace durchsuchen"
        [(ngModel)]="searchValue"
        (ngModelChange)="onSearchChange()"
      />
      <div class="search-Results" *ngIf="searchResultsState" #searchResultRef>
        <div
          class="result-container"
          *ngFor="let result of searchResults"
          (click)="openResult(result)"
        >
          <!-- USER -->
          <ng-container *ngIf="result.type === 'User'">
            <img [src]="result.data.avatar" alt="User Avatar" />
            <p>{{ result.data.displayName }}</p>
          </ng-container>
      
          <!-- CHANNEL-NAME -->
          <ng-container *ngIf="result.type === 'Channel'">
            <mat-icon fontIcon="forum"></mat-icon>
            <p>{{ result.data.channelName }}</p>
            <span
              class="material-symbols-outlined user-not-found-msg"
              *ngIf="result.userNotFoundChannel"
            >
              block
            </span>
          </ng-container>
      
          <!-- CHANNEL MESSAGES -->
          <ng-container *ngIf="result.type === 'ChannelMessage'">
            <img [src]="result.data.senderAvatar" alt="Avatar" class="avatar" />
            <div class="message">
              <strong>{{ result.data.senderDisplayName }}:</strong>
              <p [innerHTML]="result.data.message"></p>
              <small>aus Channel: #{{ result.data.channelName }}</small>
            </div>
          </ng-container>
      
          <!-- DIRECT MESSAGE -->
          <ng-container *ngIf="result.type === 'Message'">
            <img [src]="result.data.senderAvatar" alt="Avatar" class="avatar" />
            <div class="message">
              <strong>{{ result.data.senderDisplayName }}:</strong>
              <p [innerHTML]="result.data.message"></p>
              <small>#Nachricht</small>
            </div>
          </ng-container>
        </div>
      </div>
      
      
    </div>

    <div class="header-user" (click)="openDialog()">
      <div class="header-user-name">
        <h2>{{ user.displayName }}</h2>
      </div>
      <div class="header-user-avatar">
        <div class="header-user-avatar-status"></div>
        <img [src]="user.avatar" alt="user" />
      </div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </div>
</ng-container>

<ng-template #loggedOutHeader>
  <div class="header-container">
    <div class="header-logo">
      <img src="./assets/img/logo.png" alt="logo" />
      <h2>DABubble</h2>
    </div>
    <div class="header-login">
      <button mat-button routerLink="/login">Login</button>
    </div>
  </div>
</ng-template>