<div class="dialog-profil-container" [@editChannelAnimation]="editChannelAnimation">
  <div class="dialog-profil-container-header">
    <div>
      <span class="material-symbols-outlined"> tag </span>
      <h2>Entwicklerteam</h2>
    </div>
    <span class="material-symbols-outlined close-btn" (click)="closeDialog()"> close </span>
  </div>

  <div class="channel-card">
    <div class="channel-information">
      <h2>Channel-Name</h2>
      <a href="">Bearbeiten</a>
    </div>
    <div class="channel-team-container">
      <span class="material-symbols-outlined"> tag </span>
      <p>Entwicklerteam</p>
    </div>
  </div>

  <div class="channel-card">
    <div class="channel-information">
      <h2>Beschreibung</h2>
      <a href="">Bearbeiten</a>
    </div>
    <p>
      Dieser Channel ist für alles rund um #dfsdf vorgesehen. Hier kannst du
      zusammen mit deinem Team Meetings abhalten, Dokumente teilen und
      Entscheidungen treffen.
    </p>
    <div class="channel-card-separator"></div>
    <div class="channel-information-content">
      <h3>Erstellt von</h3>
      <p>Noah Braun</p>
    </div>
  </div>

  <div class="btn-container">
    <button>Channel verlassen</button>
  </div>

</div>
