<div class="confirm-new-pw-container">
  <div class="confirm-new-pw-container-header">
    <div class="confirm-new-pw-container-header-logo">
      <img src="./assets/img/logo.png" alt="logo" />
      <h1>DABubble</h1>
    </div>
  </div>
  <div class="confirm-new-pw-box-container">
    <div class="confirm-new-pw-box">
      <div class="confirm-new-pw-box-header">
        <span
          class="material-symbols-outlined back-arrow-btn"
          [routerLink]="['/reset-password']"
        >
          arrow_back
        </span>
        <h2>Passwort zurücksetzen</h2>
      </div>

      <div class="confirm-new-pw-hint">

      <div class="input-group">
        <div class="password-input">
          <input type="password" placeholder="Neues Passwort" />
        </div>

        <div class="password-input">
          <input type="password" placeholder="Neues Passwort bestätigen" />
        </div>
      </div>

      <div class="confirm-new-pw-actions">
        <button class="confirm-new-pw-btn">Passwort ändern</button>
      </div>
    </div>
</div>

    <div class="footer">
      <a href="#">Impressum</a>
      <a href="#">Datenschutz</a>
    </div>
  </div>
</div>
