<div class="avatar-container">
  <div class="avatar-container-header">
    <div class="avatar-container-header-logo">
      <img src="./assets/img/logo.png" alt="logo" />
      <h1>DABubble</h1>
    </div>
  </div>
  <div class="avatar-box-container">
    <div class="avatar-box">
      <div class="avatar-box-header">
        <span
          class="material-symbols-outlined back-arrow-btn"
          [routerLink]="['/register']"
        >
          arrow_back
        </span>
        <h2>Wähle deinen Avatar</h2>
      </div>
      <div class="select-avatar-box-content">
        <div class="select-avatar-preview">
          <img [src]="selectedAvatar" alt="person" />
          <h3 *ngIf="user$ | async as user">{{ user.displayName }}</h3>
        </div>
        <div class="select-avatar-box-content-item">
          <p>Aus der Liste wählen</p>
          <div class="select-avatar-box-content-item-list">
            <img *ngFor="let avatar of avatars| slice:1; let i = index" 
                 [src]="avatar" 
                 alt="person"
                 (click)="selectedAvatar = avatar;"
                 [class.selected]="selectedAvatar === avatar"
                  />
          </div>
        </div>
      </div>

      <div class="avatar-actions">
        <button class="avatar-btn" *ngIf="selectedAvatar !== avatars[0]" (click)="updateAvatar(selectedAvatar)">Weiter</button>
      </div>
    </div>

    <div class="footer">
      <a [routerLink]="['/impressum']">Impressum</a>
        <a [routerLink]="['/datenschutz']">Datenschutz</a>
    </div>
  </div>
  <div class="success-msg" *ngIf="successMsgAnimation" [@successMsgAnimation]="successMsgAnimation">
    <h3>Konto erfolgreich erstellt!</h3>
  </div>
</div>
