<div class="wholeDialog">
  <div class="singleContact">
    <img src="/assets/img/character/3.png" />
    <span>Frederik Beck (Du)</span>
  </div>

  <div class="singleContact">
    <img src="/assets/img/character/2.png" />
    <span>Sofia Müller</span>
  </div>
  <div class="singleContact">
    <img src="/assets/img/character/1.png" />
    <span>Noah Braun</span>
  </div>
  <div class="singleContact">
    <img src="/assets/img/character/4.png" />
    <span>Elise Roth</span>
  </div>
  <div class="singleContact">
    <img src="/assets/img/character/5.png" />
    <span>Elias Neumann</span>
  </div>
  <div class="singleContact">
    <img src="/assets/img/character/6.png" />
    <span>Steffen Hoffmann</span>
  </div>

  <div class="singleContact">
    <img src="/assets/img/character/1.png" />
    <span>Steffen Hoffmann</span>
  </div>
</div>
