<ng-container *ngIf="modeForTagging === 'user'">
  <div class="wholeDialog">
    <div
      *ngFor="let contact of filteredContacts"
      class="singleContact dot"
      (mousedown)="selectItem(contact)"
    >
      <img [src]="contact.img" alt="{{ contact.name }}" />
      <span>&#64;{{ contact.name }}</span>
    </div>
    <div
      *ngIf="filteredContacts.length === 0 && nametoFilter.length > 1"
      class="no-results"
    >
      <p>Kein Benutzer gefunden</p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="modeForTagging === 'channel'">
  <div class="wholeDialog">
    <div
      *ngFor="let channel of filteredChannels"
      class="singleContact"
      (mousedown)="selectItem(channel)"
    >
      <span class="channel-icon">#</span> <span>{{ channel.channelName }}</span>
    </div>
    <div
      *ngIf="filteredChannels.length === 0 && nametoFilter.length > 1"
      class="no-results"
    >
      <p>Kein Channel gefunden</p>
    </div>
  </div>
</ng-container>
