<div class="channelMembersOverlay">
  <div class="overlayTop">
    <span>Mitglieder</span>
    <button (click)="closeDialog()"></button>
  </div>

  <div class="membersList">
    <div class="singleMember">
      <img src="/assets/img/character/3.png" /><span>Frederik Beck (Du)</span>
    </div>
    <div class="singleMember">
      <img src="/assets/img/character/5.png" /><span>Sofia Müller</span>
    </div>
    <div class="singleMember">
      <img src="/assets/img/character/6.png" /><span>Noah Braun</span>
    </div>
  </div>

  <div class="addMembers">
    <button (click)="openAddUserToChannelDialog()">
      <div></div>
      <span>Mitglieder hinzufügen</span>
    </button>
  </div>
</div>
