<div class="channelMembersOverlay">
  <div class="overlayTop">
    <span>Mitglieder</span>
    <button (click)="closeDialog()"></button>
  </div>
  <div class="membersList">
    <div class="singleMember" *ngFor="let user of channelMember">
      <img [src]="user.avatar" [alt]="user.displayName + ' avatar'" />
      <span>{{ user.displayName }}</span>
      <mat-icon fontIcon="close" (click)="removeMember(user.uid)"></mat-icon>
    </div>
  </div>
  <div class="user-dont-be-empty" *ngIf="userDontBeEmpty">
    <p>Channel muss einen Nutzer beinhalten</p>
  </div>
  <div class="addMembers">
    <button (click)="openAddUserToChannelDialog()">
      <div></div>
      <span>Mitglieder hinzufügen</span>
    </button>
  </div>
</div>
