<div class="user-card-container">
  <div class="user-card-header">
    <h1>Profil</h1>
    <span class="material-symbols-outlined close-btn" (click)="closeDialog()">
      close
    </span>
  </div>
  <div class="user-card-avatar">
    <img src="{{ userData.avatar }}" alt="user" />
  </div>

  <div class="user-card-info">
    <h2>{{ userData.displayName }}</h2>
    <div class="status-dot">
      <div class="dot"></div>
      <p>Aktiv</p>
    </div>
  </div>

  <div class="user-card-contact">
    <div class="mail-icon">
      <span class="material-symbols-outlined"> mail </span>
    </div>
    <div class="mail-adress">
      <h3>E-Mail-Adresse</h3>
      <a>{{ userData.email }}</a>
    </div>
  </div>
  <div class="send-msg-btn">
    <button (click)="selectUserForDm(userData)">
        <span class="material-symbols-outlined">
            mode_comment
            </span>
            Nachricht
    </button>
  </div>
</div>
