<div class="message">
  <img [src]="message.user.avatar" [alt]="message.user.name" class="user-avatar">
  <div class="message-content">
    <div class="message-header">
      <span class="user-name">{{ message.user.name }}</span>
      <span class="timestamp">{{ message.timestamp }}</span>
    </div>
    <p class="text">{{ message.content }}</p>
    <div class="reactions" *ngIf="message.reactions && message.reactions.length > 0">
      <button *ngFor="let reaction of message.reactions" class="reaction">
        {{ reaction.emoji }} {{ reaction.count }}
      </button>
    </div>
  </div>
</div> 