<div *ngIf="!isClosed" class="thread-container">
  <div class="thread-header">
    <div class="thread-header-left">
      <h3>Thread</h3>
      <span class="material-symbols-outlined thread-hashtag"> tag </span>
      <p>Entwicklerteam</p>
    </div>
    <div class="thread-header-right">
      <span
        (click)="toggleThread()"
        class="material-symbols-outlined close-thread-button"
      >
        close
      </span>
    </div>
  </div>

  <div class="thread-body">
    <div class="msg-left-container">
      <div class="msg-container-user-img">
        <img src="./assets/img/character/6.png" alt="user" />
      </div>
      <div class="msg-information">
        <div class="msg-user-time">
          <h3>Noah Braun</h3>
          <p>14:25 Uhr</p>
        </div>
        <div class="msg-content-left">
          <p>Welche Version ist aktuell von Angular?</p>
        </div>
      </div>
    </div>

    <div class="count-answers">
      <p>2 Antworten</p>
      <div></div>
    </div>

    <div class="msg-left-container">
      <div class="msg-container-user-img">
        <img src="./assets/img/character/5.png" alt="user" />
      </div>
      <div class="msg-information">
        <div class="msg-user-time">
          <h3>Sofia Müller</h3>
          <p>14:30 Uhr</p>
        </div>
        <div class="msg-content-left">
          <p>
            Ich habe die gleiche Frage. Ich habe gegoogelt und es scheint, dass
            die aktuelle Version Angular 13 ist. Vielleicht weiß Frederik, ob es
            wahr ist.
          </p>
        </div>
        <div class="reaction-container">
          <div class="reaction">
            <div class="reaction-information-overlay">
              <div class="reaction-overlay-item">
                <img src="./assets/img/emoji.png" alt="check" />
                <h3>Frederik Beck</h3>
                <p>Hat reagiert</p>
              </div>
            </div>

            <img src="./assets/img/emoji.png" alt="user" />
            <p>1</p>
          </div>
          <span class="material-symbols-outlined add_reaction_btn">
            add_reaction
          </span>
        </div>
      </div>
    </div>

    <div class="msg-right-container">
      <div class="msg-container-user-img">
        <img src="./assets/img/character/3.png" alt="user" />
      </div>
      <div class="msg-information">
        <div class="msg-user-time">
          <p>15:06 Uhr</p>
          <h3>Frederik Beck</h3>
        </div>
        <div class="msg-content-right">
          <p>Ja das ist es.</p>
        </div>
        <div class="reaction-container">
          <div class="reaction">
            <div class="reaction-information-overlay">
              <div class="reaction-overlay-item">
                <img src="./assets/img/thumb_up.png" alt="check" />
                <h3>Noah Braun</h3>
                <p>Hat reagiert</p>
              </div>
            </div>
            <img src="./assets/img/thumb_up.png" alt="user" />
            <p>1</p>
          </div>
          <span class="material-symbols-outlined add_reaction_btn">
            add_reaction
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="input-container">
    <div class="input-container-wrapper">
      <input type="text" placeholder="Antworten..." />
      <div class="icons">
        <div>
          <span class="material-symbols-outlined"> alternate_email </span>
          <span class="material-symbols-outlined"> sentiment_satisfied </span>
        </div>
        <img src="./assets/img/icons/send.png" class="send-btn" alt="send" />
      </div>
    </div>
  </div>
</div>
