<div *ngIf="isOpen" @slideInOut class="thread-container">
  <div class="thread-header">
    <div class="thread-header-left">
      <h3>Thread</h3>
      <span class="material-symbols-outlined thread-hashtag"> tag </span>
      <p>Entwicklerteam</p>
    </div>
    <div class="thread-header-right">
      <span
        (click)="closeThread()"
        class="material-symbols-outlined close-thread-button"
      >
        close
      </span>
    </div>
  </div>

  <div class="thread-body">
    <ng-container *ngIf="originalMessage$ | async as originalMsg">
      <div class="msg-left-container original-message-container">
        <div class="msg-container-user-img">
          <img
            [src]="
              originalMsg.senderAvatar || '/assets/img/character/bsp-avatar.png'
            "
            [alt]="originalMsg.senderDisplayName"
          />
        </div>
        <div class="msg-information">
          <div class="msg-user-time">
            <h3>{{ originalMsg.senderDisplayName }}</h3>
            <p>{{ originalMsg.time | date : "HH:mm" }} Uhr</p>
          </div>
          <div class="msg-content-left">
            <p>{{ originalMsg.message }}</p>
          </div>
          <div
            class="reaction-container"
            *ngIf="originalMsg.reactions && originalMsg.reactions.length > 0"
          ></div>
        </div>
      </div>
    </ng-container>

    <div
      class="count-answers"
      *ngIf="(threadMessages$ | async)?.length as count"
    >
      <p>{{ count }} {{ count === 1 ? "Antwort" : "Antworten" }}</p>
      <div></div>
    </div>

    <ng-container *ngFor="let threadMsg of threadMessages$ | async">
      <div class="msg-left-container" *ngIf="!isOwnThreadMessage(threadMsg)">
        <div class="msg-container-user-img">
          <img
            [src]="
              threadMsg.senderAvatar ||
              './assets/img/character/avatar_default.png'
            "
            [alt]="threadMsg.senderDisplayName"
          />
        </div>
        <div class="msg-information">
          <div class="msg-user-time">
            <h3>{{ threadMsg.senderDisplayName }}</h3>
            <p>{{ threadMsg.time | date : "HH:mm" }} Uhr</p>
          </div>
          <div class="msg-content-left">
            <p>{{ threadMsg.message }}</p>
          </div>
          <div
            class="reaction-container"
            *ngIf="threadMsg.reactions && threadMsg.reactions.length > 0"
          >
            <div class="reaction">
              <img src="./assets/img/emoji.png" alt="reaction" />
              <p>1</p>
            </div>
            <span class="material-symbols-outlined add_reaction_btn"
              >add_reaction</span
            >
          </div>
        </div>
      </div>

      <div class="msg-right-container" *ngIf="isOwnThreadMessage(threadMsg)">
        <div class="msg-container-user-img">
          <img
            [src]="
              currentUser?.avatar || './assets/img/character/avatar_default.png'
            "
            [alt]="currentUser?.displayName || 'Du'"
          />
        </div>
        <div class="msg-information">
          <div class="msg-user-time">
            <p>{{ threadMsg.time | date : "HH:mm" }} Uhr</p>
            <h3>Du</h3>
          </div>
          <div class="msg-content-right">
            <p>{{ threadMsg.message }}</p>
          </div>
          <div
            class="reaction-container"
            *ngIf="threadMsg.reactions && threadMsg.reactions.length > 0"
          >
            <div class="reaction">
              <img src="./assets/img/thumb_up.png" alt="reaction" />
              <p>1</p>
            </div>
            <span class="material-symbols-outlined add_reaction_btn"
              >add_reaction</span
            >
          </div>
        </div>
      </div>
    </ng-container>

    <div
      *ngIf="(threadMessages$ | async)?.length === 0"
      class="no-thread-messages"
    >
      <p>Noch keine Antworten in diesem Thread.</p>
    </div>
  </div>

  <div class="input-container">
    <div class="input-container-wrapper threadwrapper">
      <div
        #editableDiv
        contenteditable="true"
        (input)="onContentChanged($event)"
        (keydown.enter)="onEnter($event)"
        class="textForThreadInput"
      ></div>

      <div class="icons">
        <div>
          <span
            (click)="openTaggingPerClick($event)"
            class="material-symbols-outlined"
          >
            alternate_email
          </span>
          <span
            class="material-symbols-outlined"
            (click)="saveCursorPosition()"
          >
            sentiment_satisfied
          </span>
        </div>
        <img
          (click)="sendThreadMessage()"
          src="./assets/img/icons/send.png"
          class="send-btn"
          alt="send"
        />

        <div class="taggedPersonsDiv">
          <div
            contenteditable="false"
            aria-readonly="true"
            class="taggedPerson"
            (mousedown)="preventEdit($event)"
            *ngFor="let person of taggedPersonsInThreads"
          >
            <img class="taggedImage" [src]="person.img" />
            <span> {{ person.name }}</span>
            <span
              (click)="removePersonFromTagged(person.name)"
              class="closeTaggedPerson"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
