.direct-message-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.dm-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 25px 45px;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dm-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }
}

.dm-avatar-container {
  position: relative;
}

.dm-header-avatar {
  width: 40px; //anpassen
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.online-status-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background-color: #92c83e;
  border-radius: 50%;
  border: 2px solid white;
}

.dm-header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dm-body {
  width: 100%;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.date-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 45px 10px 45px;
  width: 100%;

  .divider-line {
    height: 1px;
    background-color: #adb0d9;
    flex-grow: 1;
    opacity: 0.3;
  }

  .date-text {
    font-weight: 400;
    font-size: 16px;
    color: #6c757d;
    border: 1px solid #dee2e6;
    padding: 5px 15px;
    border-radius: 30px;
    margin: 0 15px;
    background-color: #f8f9fa;
  }
}

.dm-message-container {
  padding: 0 45px;
  cursor: pointer;
  &.has-reactions:hover {
    background-color: rgb(236, 238, 253);
  }
  &:hover {
    background-color: rgb(236, 238, 253);
    .msg-left {
      background-color: #fff;
    }
  }
}

.message-layout {
  display: flex;
  width: 100%;
  gap: 15px;
  align-items: flex-start;
  position: relative;
  padding: 10px 0;
}

.ownMessage {
  flex-direction: row-reverse;
}

.message-avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.message-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  max-width: calc(100% - 65px);
}

.message-header {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-top: 5px;
}

.message-header.own-header {
  flex-direction: row-reverse;
}

.msg-time {
  font-size: 12px;
  font-weight: 400;
  color: #686868;
}

.msg-bubble {
  padding: 15px;
  width: fit-content;
  max-width: 100%;
  position: relative;
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.msg-left {
  padding: 15px;
  border-radius: 0 30px 30px 30px;
  background-color: #eceefe;
  p {
    color: #000000;
    font-weight: 400;
    font-size: 18px;
  }
}

.msg-right {
  border-radius: 20px 0 20px 20px;
  background-color: #797ef3;
  color: white;
  align-self: flex-end;
  p {
    color: white;
  }
}

.message-footer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 5px;
  min-height: 28px;
}

.other-footer {
  justify-content: flex-start;
}

.own-footer {
  justify-content: flex-end;
}

.own-message .msg-reaction-container {
  align-self: flex-end;
}
.othersMessage .msg-reaction-container {
  align-self: flex-start;
}

.reactionSmile {
  background: url("/assets/img/icons/add_reaction.png");
}
.reactionSmile:hover {
  background: url("/assets/img/icons/add_reaction_purple.png");
}
.editMsg {
  background: url("/assets/img/icons/dotMenu.png");
  background-size: unset !important;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 0 45px 25px 45px;
  background-color: #fff;
  border-radius: 0 0 30px 30px;
}

.input-container-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #adb0d9;
}

.textForMessageInput {
  width: 100%;
  border: none;
  outline: none;
  flex-grow: 1;
  min-height: unset;
  max-height: 100px;
  overflow-y: auto;
  overflow-wrap: anywhere;
  padding: 8px 0;
  font-family: "Nunito";
  resize: none;
  color: #333;
  font-size: 18px;

  &:empty:before {
    content: attr(placeholder);
    color: #aaa;
    cursor: text;
  }
}

.icons {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    gap: 5px;

    > span {
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      // color: #686868;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      font-size: 24px;

      &:hover {
        color: #535af1;
        background-color: #eceefe;
      }
    }
  }
}

.send-btn {
  cursor: pointer;
  width: 36px;
  height: 36px;
  transition: all 0.1s ease-in-out;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  &:hover {
    opacity: 0.6;
  }
}

.no-messages {
  padding: 0 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 1;
  font-size: 20px;
}

.no-messages-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.no-messages-user {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 25px;
  img {
    width: 100px;
    border-radius: 50%;
  }
  h3 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
  }
}

.no-messages-text {
  p {
    font-size: 20px;
    font-weight: 400;
    color: #686868;
  }
  i {
    color: #535af1;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
  }
}

//anpassen
::ng-deep .emoji-picker-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  background: transparent;
  box-shadow: none;
  overflow: visible;
}

.msg-reaction-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin-top: 8px;
  position: relative;
  min-height: 28px;
  justify-content: flex-start; // Standard (für andere)

  .ownMessage & {
    // Für eigene Nachrichten
    justify-content: flex-end;
  }
}

.reaction {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 20px;
  max-height: 28px;
  background-color: rgba(236, 238, 254, 0.8);
  border: 1px solid transparent;
  gap: 4px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: relative;

  &.reacted-by-user {
    background-color: #e0e7ff;
    border-color: #797ef3;
  }

  &:hover {
    border-color: #adb0d9;
    background-color: #e9ecef;
  }

  span:first-of-type {
    font-size: 14px;
    line-height: 1;
  }
  p {
    font-size: 12px;
    font-weight: 600;
    color: #495057;
    margin: 0;
    line-height: 1;
  }

  &:hover .reactionOwner {
    display: flex !important;
  }
}

.reaction-overflow-btn,
.reaction-show-less-btn {
  padding: 4px 10px;
  border-radius: 20px;
  border: 1px solid #adb0d9;
  background-color: #f1f3f5;
  cursor: pointer;
  font-size: 12px;
  color: #535af1;
  margin-left: 5px;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: #e9ecef;
  }
}

.add_reaction_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
  color: #6c757d;
  padding: 10px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  line-height: 1;
  box-sizing: border-box;

  &:hover {
    background-color: #adb0d9;
    color: #535af1;
  }
}

.edited-indicator {
  font-size: 12px;
  color: #6c757d;
  font-style: italic;
  margin-left: 8px;
}

.message-layout:hover .reactionMenu {
  opacity: 1;
  transform: scale(1);
}

.reactionMenu {
  display: flex;
  min-width: max-content;
  opacity: 0;
  align-items: center;
  gap: 5px;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #adb0d9;
  padding: 5px 10px;
  height: auto;
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
  transform: scale(0.9); // Startet kleiner
  z-index: 10; // Sollte über Nachricht liegen

  .othersMessage & {
    top: -15px;
    transform-origin: top right;
    border-radius: 20px 20px 0 20px;
  }

  .ownMessage & {
    top: -15px;
    left: 0px;
    transform-origin: top left;
    border-radius: 20px 20px 20px 0;
  }
}

.reactionMenuBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  background-size: 20px 20px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: rgb(236, 238, 255);
  }
}

.reactionSmile {
  background: url("/assets/img/icons/add_reaction.png");
}
.reactionSmile:hover {
  background: url("/assets/img/icons/add_reaction_purple.png");
}
.editMsg {
  background: url("/assets/img/icons/dotMenu.png");
  background-size: unset !important;
}

.reactionOwner {
  position: absolute;
  top: -113px;
  display: none;
  min-width: 100px;
  width: max-content;
  z-index: 2;
  height: 112px;
  left: 22px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 30px 0px;
  padding: 15px 10px;
  background-color: #444df2;

  > .reactionOwnerUser {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.edit-message-input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0;
  min-width: fit-content;
  width: 100%;
  position: relative;
  max-width: 100%;

  align-items: center;

  .othersMessage & {
    align-self: flex-start;
  }

  textarea {
    width: 100%;
    border: 1px solid #797ef3;
    border-radius: 8px;
    padding: 20px;
    font-family: inherit;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    background-color: #f8f9fa;

    &:focus {
      outline: none;
      border-color: #535af1;
      box-shadow: 0 0 0 2px rgba(83, 90, 241, 0.2);
    }
  }
}

.edit-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 4px;
  position: absolute;
  bottom: 20px;
  right: 20px;

  button {
    padding: 12px 25px 12px 25px;
    font-size: 15px;
    font-weight: 700;
    max-width: 133px;
    max-height: 49px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.15s ease, border-color 0.15s ease,
      color 0.15s ease;

    &:first-of-type {
      background-color: transparent;
      border-color: #797ef3;
      color: #444df2;
      transition: all 0.1s ease-in-out;
      &:hover {
        background-color: #f1f3f5;
      }
    }

    &:last-of-type {
      background-color: #535af1;
      color: white;
      border-color: #535af1;
      transition: all 0.1s ease-in-out;
      &:hover {
        background-color: #4347d0;
        border-color: #4347d0;
      }
    }
  }
}

.edited-indicator {
  font-size: 12px;
  color: #000000;
  font-style: italic;
}

.edit-textbox {
  min-height: 155px;
}

@media screen and (max-width: 940px) {
  .no-messages-user {
    gap: 8px;
  }
  .no-messages-user {
    img {
      width: 50px;
      border-radius: 50%;
    }
  }
  .no-messages-text {
    p {
      font-size: 16px;
    }
  }
  .dm-message-container {
    padding: 0 8px;
  }
  .message-avatar img {
    width: 40px;
    height: 40px;
  }
  .msg-bubble {
    padding: 8px 16px;
  }
  .message-layout {
    padding: 8px 0;
  }
  .date-divider {
    padding: 8px 0;
    width: 100%;
  }
  .input-container {
    padding: 0 16px 16px 16px;
  }
  .dm-header {
    padding: 16px 16px;
  }
  .input-container-wrapper {
    padding: 4px;
    gap: 0;
  }
  .own-message {
    > .reactionMenu {
      top: 0 !important;
      left: 0 !important;
      border-radius: 0 !important;
    }
  }
  .othersMessage {
    .reactionMenu {
      top: 0;
      right: 0;
      border-radius: 0;
    }
  }
  .no-messages-container {
    margin-bottom: 8px;
  }
  .no-messages {
    padding: 0 16px;
    font-size: 16px;
  }
}
